*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display:flex;
    max-width: 1024px;
    width:100%;
    margin:0, auto;
}

header{
    background-color: rgb(53, 109, 82);
    padding: 16px;
    color:aliceblue;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


nav li {
   list-style: none;
   margin-right: 16px;
   font-size:18px;
   font-weight:bold;
display:inline;

}

   nav li a{
    text-decoration: none;
    color:rgb(166, 239, 182);
    display:inline;
   }



.sobrenos {
display:flex;
margin-top:50px;
width:100%;
}

.sobrenos .infos {
    display:block;
}

#nos {
    width:50%;  
    padding-left: 20px;
    padding-top:80px;
    padding-right:40px;
    padding-bottom: 60px;
    }

.sobrenos h2 {
padding-top:80px;
padding-right:40px;
padding-bottom: 20px;
}

h2 {
    color: darkgreen;
}

h3{
    color:darkslategray
}



.produtos img {
    width: 200px;
    padding-bottom: 20px;

}

.produtos li {
    display: inline-block;
    padding:20px;
    align-content: center;
}

.produtos {
    padding: 50px;
}

.produtos h2 {
padding-left: 20px;}

.produtos h3 {
    padding-bottom: 7px;
}

.produtos p { 
    padding-bottom:7px;
    width:75%
}

.produtos button{
    color: rgb(233, 233, 241);
    background-color: green;
    border-radius: 5px;
    padding:14px;
    border:none;
    text-transform: uppercase;
    font-weight: bolder;
}

@media screen and (max-width: 640px) {

        .sobrenos {
            display:block;
            justify-content: space-between;
             align-items: center;
            width:100%;
            align-content: center;
            padding-left:2px;
            padding-bottom:8px;
                }
            
                #nos {
                    width:99%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0 ;
                }

                .sobrenos h2 {
                    padding: 4px 20px;
                }

                .sobrenos p{
                    display:block;
                    padding:24px;
                }
            
            .produtos {
                width:100%;
                padding: 0 0;
            }

            .produtos img {
                width:99%;
            }

            .produtos p {
                width: 99%;
            }

            .produtos button{
                width:99%;
            }
    }


    @media screen and (min-width: 641px) and (max-width: 1023px) {

        .sobrenos {
            display:block;
            justify-content: space-between;
             align-items: center;
            width:100%;
            align-content: center;
            padding-left:2px;
            padding-bottom:8px;
                        }

                #nos {
                    width:99%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0 ;
                }

                .sobrenos h2 {
                    padding: 24px 20px;
                }

                .sobrenos p{
                    display:block;
                    padding:24px;
                }

                .produtos {
                    width:99%;          
                }



    }